<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet_demo</display-name>
    <servlet-name>Servlet_demo</servlet-name>
    <servlet-class>Servlet_demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_demo</servlet-name>
    <url-pattern>/Servlet_demo</url-pattern>
  </servlet-mapping>
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_demo_</display-name>
    <servlet-name>Servlet_demo_</servlet-name>
    <servlet-class>Servlet_demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_demo_</servlet-name>
    <url-pattern>/Servlet_demo_</url-pattern>
  </servlet-mapping>
</web-app>